<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="openSidebar()" fxShow="true" fxHide.gt-sm>
    		<mat-icon>menu</mat-icon>
  		</button>
	    <span>{{ title }}</span>

	    <span class="mat-toolbar-row--spacer"></span>

    	<!-- The following menu items will be hidden on both SM and XS screen sizes -->
	    <div fxShow="true" fxHide.lt-md="true">
		    <button mat-button routerLink="/">Home</button>
		    <button mat-button routerLink="/home/article">Pro Blog</button>

			<button mat-button [matMenuTriggerFor]="themes">Themes</button>
			<mat-menu #themes="matMenu">
			  	<button mat-menu-item *ngFor="let menu of menus"
			  		routerLink="/home/pages/{{ menu.url }}">
			  		<mat-icon>arrow_forward</mat-icon>
			  		{{ menu.title }}
				</button>
			</mat-menu>

			<span *ngIf="user; else noLogged">
				<button mat-button [matMenuTriggerFor]="menu">
					<img [src]="user.photoURL" class="img-circle"> {{ user.displayName }}
				</button>
				<mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
					<button mat-menu-item routerLink="/admin/dashboard" *ngIf="user.roles.admin">
				    	<mat-icon aria-label="Example icon-button with a heart icon">
				    		dashboard
				    	</mat-icon>
				    	Dashboard
				  	</button>
				  	<button mat-menu-item (click)="logout()">
				    	<mat-icon aria-label="Example icon-button with a heart icon">
				    		exit_to_app
				    	</mat-icon>
				    	Log Out
				  	</button>
				</mat-menu>
			</span>
			<ng-template #noLogged>
				<button mat-button routerLink="/home/login">Log In</button>
			</ng-template>
		</div>
  	</mat-toolbar-row>
</mat-toolbar>