<div>
	<div class="user mat-elevation-z8" *ngIf="user">
		<img [src]="user.photoURL">
		<div class="info">
			<a [matMenuTriggerFor]="menu" class="name">
				{{ user.displayName }}
			</a>
			<mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
				<button mat-menu-item routerLink="/admin/dashboard" *ngIf="user.roles.admin">
			    	<mat-icon aria-label="Example icon-button with a heart icon">
			    		dashboard
			    	</mat-icon>
			    	Dashboard
			  	</button>
			  	<button mat-menu-item (click)="logout()">
			    	<mat-icon aria-label="Example icon-button with a heart icon">
			    		exit_to_app
			    	</mat-icon>
			    	Log Out
			  	</button>
			</mat-menu>
		</div>
	</div>
</div>
<mat-nav-list>
	<a mat-list-item routerLink="/home/login" *ngIf="! user">Log In</a>
	<a mat-list-item routerLink="/">Home</a>
	<a mat-list-item routerLink="/home/article">Pro Blog</a>
	<mat-expansion-panel class="mat-elevation-z0">
	    <mat-expansion-panel-header mat-list-item>
	      	<mat-panel-title>
	        	Themes
	      	</mat-panel-title>
	    </mat-expansion-panel-header>
      	<mat-nav-list>
        	<a mat-list-item *ngFor="let menu of menus"
	  			routerLink="/home/pages/{{ menu.url }}">
	  			<mat-icon>arrow_forward</mat-icon>
	  			{{ menu.title }}
	  		</a>
	  	</mat-nav-list>
  	</mat-expansion-panel>
</mat-nav-list>